<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kartonche</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Kartonche Card File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zbrox.kartonche.card</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>group.com.zbrox.kartonche.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kartonche</string>
			</array>
		</dict>
	</array>
	<key>TeamIdentifier</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.corespotlightitem</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kartonche Card File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>DocIconBackground</string>
				<key>UTTypeIconBadgeName</key>
				<string>DocIconBadge</string>
				<key>UTTypeIconText</key>
				<string>.kartonche</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.zbrox.kartonche.card</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kartonche</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-kartonche</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
