name: Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Run CI
    runs-on: macos-15
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Configure git to use HTTPS instead of SSH
        run: git config --global url."https://github.com/".insteadOf "git@github.com:"
      
      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.2.app/Contents/Developer
      
      - name: Set up mise
        uses: jdx/mise-action@v2
        with:
          experimental: true
      
      - name: Run CI workflow
        run: mise run ci
